<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          {% if site.github %}
          <li>
            <a href="{{ site.github }}"><span class="fa fa-github"></span> shad-news</a>
          </li>
          {% endif %}
        </ul>
      </div>

        <div class="col-sm-6">
          <p>{{ site.description }}</p>
          <a href="{{site.baseurl}}/headlines/">Headlines</a>
        </div>
      </div>

    </div>
  </div>
</footer>
