<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-container" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.baseurl}}/">SHAD News</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-container">
      <ul class="nav navbar-nav">
        <li><a href="{{site.baseurl}}/about/">About</a></li>
        <li><a href="{{site.baseurl}}/team/">Team</a></li>
        <li><a href="https://docs.google.com/forms/d/1jht7M8jo2xiD-EpM67LVAWlXTeHx2JAzDtpM8zFgdGg/viewform">Ask SHAD News</a></li>
      </ul>
    </div>
  </div>
</nav>
